/* tabel */

.table {
    float: center;
    font-family: sans-serif, 'Trebuchet MS';
    margin-top: 1%;
}

th, td {
    border: 1px solid black;
    padding: 3px;
}

tr:hover {
    background-color: black;
    color: white;
}

.grade {
    background-color: rgba(124, 255, 47, 0.514);
    color: black;
}




/* form */

input[type=text], select, textarea {
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 5px;
    margin-left: 12.5%;
    resize: vertical
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.label {
    font-family: 'Trebuchet MS', sans-serif;
    margin-left: 12.5%;
}

.errorText {
    margin-left: 3%;
    color: red;
}

.errorForm {
    border: 1px solid red;
    animation: shake 0.5s;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
