/* images */

.logo {
    width: 52px;
    float: left;
}

.pictures {
    width: 100%;
}

/* profielpagina */
.photos {
    width: 450px;
}

.event {
    width: 35%;
    float: right;
    margin-right: 32%;
}

.event2 {
    width: 35%;
    margin-left: 5%;
}

.omoda {
    width: 1000px/200px * 100%;
    margin-right: 10px/1000px * 100%;
}



/*Errorpages*/

.errorImg {
    width: 120px;
    height: 150px;
    float: right;
    float: top;
    margin: 20px;
}

.errorImg2 {
    width: 150px;
    height: 150px;
    float: right;
    float: top;
    margin: 10px;
    margin-right: 80px;
}


.blogPics {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.editIcon {
    width: 10px;
    height: 10px;
}


